[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

telegram = "*"
python-telegram-bot = "*"

random = "*"
logging = "*"
os = "*"

[requires]

python_version = "3.7.3"
